In [0]:
 /FileStore/tables/sales_csv.txt
  /FileStore/tables/menu_csv.txt

Creating Sales DataFrame

In [0]:
#imporign lab

from pyspark.sql.types import StructField, StringType, IntegerType, decimal, StructType, DateType

#now creating and define schemas -

schema = StructType([
         StructField("product_id",IntegerType(), True),
         StructField("customer_id", StringType(), True),
         StructField("order_date", DateType(), True),
         StructField("location",IntegerType(), True),
         StructField("source_order", IntegerType(), True)
])

In [0]:
sales_df = spark.read.format("csv").option("inferschema", "true").schema(schema).load("/FileStore/tables/sales_csv.txt")
sales_df.show()
display(sales_df)

+----------+-----------+----------+--------+------------+
|product_id|customer_id|order_date|location|source_order|
+----------+-----------+----------+--------+------------+
|         1|          A|2023-01-01|    null|        null|
|         2|          A|2022-01-01|    null|        null|
|         2|          A|2023-01-07|    null|        null|
|         3|          A|2023-01-10|    null|        null|
|         3|          A|2022-01-11|    null|        null|
|         3|          A|2023-01-11|    null|        null|
|         2|          B|2022-02-01|    null|        null|
|         2|          B|2023-01-02|    null|        null|
|         1|          B|2023-01-04|    null|        null|
|         1|          B|2023-02-11|    null|        null|
|         3|          B|2023-01-16|    null|        null|
|         3|          B|2022-02-01|    null|        null|
|         3|          C|2023-01-01|    null|        null|
|         1|          C|2023-01-01|    null|        null|
|         6|          C|2022-01-07|    null|        null|
|         3|          D|2023-02-16|    null|        null|
|         5|          D|2022-02-01|    null|        null|
|         3|          E|2023-02-01|    null|        null|
|         4|          E|2023-02-01|    null|        null|
|         4|          E|2023-02-07|    null|        null|
+----------+-----------+----------+--------+------------+
only showing top 20 rows

product_id,customer_id,order_date,location,source_order
1,A,2023-01-01,null,null
2,A,2022-01-01,null,null
2,A,2023-01-07,null,null
3,A,2023-01-10,null,null
3,A,2022-01-11,null,null
3,A,2023-01-11,null,null
2,B,2022-02-01,null,null
2,B,2023-01-02,null,null
1,B,2023-01-04,null,null
1,B,2023-02-11,null,null
3,B,2023-01-16,null,null
3,B,2022-02-01,null,null
3,C,2023-01-01,null,null
1,C,2023-01-01,null,null
6,C,2022-01-07,null,null
3,D,2023-02-16,null,null
5,D,2022-02-01,null,null
3,E,2023-02-01,null,null
4,E,2023-02-01,null,null
4,E,2023-02-07,null,null
2,A,2022-01-01,null,null
2,A,2023-01-07,null,null
3,A,2023-01-10,null,null
3,A,2022-01-11,null,null
3,A,2023-01-11,null,null
2,B,2022-03-01,null,null
2,B,2023-01-02,null,null
1,B,2023-01-04,null,null
1,B,2023-03-11,null,null
3,B,2023-01-16,null,null
3,B,2023-03-01,null,null
3,C,2023-01-01,null,null
1,C,2023-01-01,null,null
6,C,2023-01-07,null,null
3,D,2022-03-16,null,null
5,D,2023-03-01,null,null
3,E,2023-03-01,null,null
4,E,2022-03-01,null,null
4,E,2023-03-07,null,null
1,A,2023-05-05,null,null
2,A,2022-05-05,null,null
2,A,2023-05-07,null,null
3,A,2023-05-10,null,null
3,A,2022-05-11,null,null
3,A,2023-05-11,null,null
2,B,2022-02-05,null,null
2,B,2023-05-02,null,null
1,B,2023-05-04,null,null
1,B,2023-02-11,null,null
3,B,2023-05-16,null,null
3,B,2022-02-05,null,null
3,C,2023-05-05,null,null
1,C,2023-05-05,null,null
6,C,2022-05-07,null,null
3,D,2023-02-16,null,null
5,D,2022-02-05,null,null
3,E,2023-02-05,null,null
4,E,2023-02-05,null,null
4,E,2023-02-07,null,null
2,A,2022-05-05,null,null
2,A,2023-05-07,null,null
3,A,2023-05-10,null,null
3,A,2022-05-11,null,null
3,A,2023-05-11,null,null
2,B,2022-07-05,null,null
2,B,2023-05-02,null,null
1,B,2023-05-04,null,null
1,B,2023-07-11,null,null
3,B,2023-05-16,null,null
3,B,2023-07-05,null,null
3,C,2023-05-05,null,null
1,C,2023-05-05,null,null
6,C,2023-05-07,null,null
3,D,2022-07-16,null,null
5,D,2023-07-05,null,null
3,E,2023-07-05,null,null
4,E,2022-07-05,null,null
4,E,2023-07-07,null,null
1,A,2023-06-06,null,null
2,A,2022-06-06,null,null
2,A,2023-06-11,null,null
3,A,2023-06-10,null,null
3,A,2022-06-11,null,null
3,A,2023-06-11,null,null
2,B,2022-02-06,null,null
2,B,2023-06-02,null,null
1,B,2023-06-04,null,null
1,B,2023-02-11,null,null
3,B,2023-06-16,null,null
3,B,2022-02-06,null,null
3,C,2023-06-06,null,null
1,C,2023-06-06,null,null
6,C,2022-06-11,null,null
3,D,2023-02-16,null,null
5,D,2022-02-06,null,null
3,E,2023-02-06,null,null
4,E,2023-02-06,null,null
4,E,2023-02-11,null,null
2,A,2022-06-06,null,null
2,A,2023-06-11,null,null
3,A,2023-06-10,null,null
3,A,2022-06-11,null,null
3,A,2023-06-11,null,null
2,B,2022-11-06,null,null
2,B,2023-06-02,null,null
1,B,2023-06-04,null,null
1,B,2023-11-11,null,null
3,B,2023-06-16,null,null
3,B,2023-11-06,null,null
3,C,2023-06-06,null,null
1,C,2023-06-06,null,null
6,C,2023-06-11,null,null
3,D,2022-11-16,null,null
5,D,2023-11-06,null,null
3,E,2023-11-06,null,null
4,E,2022-11-06,null,null
4,E,2023-11-11,null,null

In [0]:
from pyspark.sql.functions import month, year, quarter

sales_df = sales_df.withColumn("order_year", year(sales_df.order_date))
sales_df.show()

+----------+-----------+----------+--------+------------+----------+
|product_id|customer_id|order_date|location|source_order|order_year|
+----------+-----------+----------+--------+------------+----------+
|         1|          A|2023-01-01|    null|        null|      2023|
|         2|          A|2022-01-01|    null|        null|      2022|
|         2|          A|2023-01-07|    null|        null|      2023|
|         3|          A|2023-01-10|    null|        null|      2023|
|         3|          A|2022-01-11|    null|        null|      2022|
|         3|          A|2023-01-11|    null|        null|      2023|
|         2|          B|2022-02-01|    null|        null|      2022|
|         2|          B|2023-01-02|    null|        null|      2023|
|         1|          B|2023-01-04|    null|        null|      2023|
|         1|          B|2023-02-11|    null|        null|      2023|
|         3|          B|2023-01-16|    null|        null|      2023|
|         3|          B|2022-02-01|    null|        null|      2022|
|         3|          C|2023-01-01|    null|        null|      2023|
|         1|          C|2023-01-01|    null|        null|      2023|
|         6|          C|2022-01-07|    null|        null|      2022|
|         3|          D|2023-02-16|    null|        null|      2023|
|         5|          D|2022-02-01|    null|        null|      2022|
|         3|          E|2023-02-01|    null|        null|      2023|
|         4|          E|2023-02-01|    null|        null|      2023|
|         4|          E|2023-02-07|    null|        null|      2023|
+----------+-----------+----------+--------+------------+----------+
only showing top 20 rows

In [0]:
sales_df = sales_df.withColumn("order_quarter", quarter(sales_df.order_date))
sales_df = sales_df.withColumn("order_month", month(sales_df.order_date))

sales_df.show()

+----------+-----------+----------+--------+------------+----------+-------------+-----------+
|product_id|customer_id|order_date|location|source_order|order_year|order_quarter|order_month|
+----------+-----------+----------+--------+------------+----------+-------------+-----------+
|         1|          A|2023-01-01|    null|        null|      2023|            1|          1|
|         2|          A|2022-01-01|    null|        null|      2022|            1|          1|
|         2|          A|2023-01-07|    null|        null|      2023|            1|          1|
|         3|          A|2023-01-10|    null|        null|      2023|            1|          1|
|         3|          A|2022-01-11|    null|        null|      2022|            1|          1|
|         3|          A|2023-01-11|    null|        null|      2023|            1|          1|
|         2|          B|2022-02-01|    null|        null|      2022|            1|          2|
|         2|          B|2023-01-02|    null|        null|      2023|            1|          1|
|         1|          B|2023-01-04|    null|        null|      2023|            1|          1|
|         1|          B|2023-02-11|    null|        null|      2023|            1|          2|
|         3|          B|2023-01-16|    null|        null|      2023|            1|          1|
|         3|          B|2022-02-01|    null|        null|      2022|            1|          2|
|         3|          C|2023-01-01|    null|        null|      2023|            1|          1|
|         1|          C|2023-01-01|    null|        null|      2023|            1|          1|
|         6|          C|2022-01-07|    null|        null|      2022|            1|          1|
|         3|          D|2023-02-16|    null|        null|      2023|            1|          2|
|         5|          D|2022-02-01|    null|        null|      2022|            1|          2|
|         3|          E|2023-02-01|    null|        null|      2023|            1|          2|
|         4|          E|2023-02-01|    null|        null|      2023|            1|          2|
|         4|          E|2023-02-07|    null|        null|      2023|            1|          2|
+----------+-----------+----------+--------+------------+----------+-------------+-----------+
only showing top 20 rows

In [0]:
schema = StructType([
         StructField("product_id",IntegerType(), True),
         StructField("product_name", StringType(), True),
         StructField("price", StringType(), True),
])



menu_df = spark.read.format("csv").option("inferschema", "true").schema(schema).load("/FileStore/tables/menu_csv.txt")
menu_df.show()
display(menu_df)

+----------+------------+-----+
|product_id|product_name|price|
+----------+------------+-----+
|         1|       PIZZA|  100|
|         2|     Chowmin|  150|
|         3|    sandwich|  120|
|         4|        Dosa|  110|
|         5|     Biryani|   80|
|         6|       Pasta|  180|
+----------+------------+-----+

product_id,product_name,price
1,PIZZA,100
2,Chowmin,150
3,sandwich,120
4,Dosa,110
5,Biryani,80
6,Pasta,180

In [0]:
total_amount_spend = (sales_df.join(menu_df,'product_id').groupBy('customer_id').agg({'price':'sum'})
                       .orderBy('customer_id'))
 
display(total_amount_spend)

customer_id,sum(price)
A,4260.0
B,4440.0
C,2400.0
D,1200.0
E,2040.0

In [0]:
total_amount_food_cat = (sales_df.join(menu_df,'product_id').groupBy('product_name').agg({'price':'sum'})
                          .orderBy('product_name'))

display(total_amount_food_cat)

product_name,sum(price)
Biryani,480.0
Chowmin,3600.0
Dosa,1320.0
PIZZA,2100.0
Pasta,1080.0
sandwich,5760.0

+------------+----------+
|product_name|sum(price)|
+------------+----------+
|     Biryani|     480.0|
|     Chowmin|    3600.0|
|        Dosa|    1320.0|
|       PIZZA|    2100.0|
|       Pasta|    1080.0|
|    sandwich|    5760.0|
+------------+----------+

In [0]:
total_amount_sales = (sales_df.join(menu_df,'product_id').groupBy('order_month').agg({'price':'sum'}))

display(total_amount_sales)

order_month,sum(price)
1,2960.0
6,2960.0
3,910.0
5,2960.0
7,910.0
11,910.0
2,2730.0

In [0]:
yearly_sales = (sales_df.join(menu_df, 'product_id').groupBy('order_year').agg({'price':'sum'})
                 .orderBy('order_year'))

display(yearly_sales)

order_year,sum(price)
2022,4350.0
2023,9990.0

In [0]:
quartly_sales = (sales_df.join(menu_df,'product_id').groupBy('order_quarter').agg({'price':'sum'})
                 .orderBy('order_quarter'))

display(quartly_sales)

order_quarter,sum(price)
1,6600.0
2,5920.0
3,910.0
4,910.0

In [0]:
monthly_sales = (sales_df.join(menu_df,'product_id').groupBy('order_month').agg({'price':'sum'})
                 .orderBy('order_month'))

display(monthly_sales)

order_month,sum(price)
1,2960.0
2,2730.0
3,910.0
5,2960.0
6,2960.0
7,910.0
11,910.0

In [0]:
total_amt = (sales_df.join(menu_df, 'product_id').groupBy('location').agg({'price':'sum'}))

display(total_amt)

location,sum(price)
null,14340.0